body {
  font-family: 'OCR A Std', monospace;
  background-color: #FFFAFF; 
  text-align: right;
  color: #001F33;
}

header {
  background-color: #FDE74C;
}

h1 {
  color: #001F33;
  text-align: left;

}

p {
  color:#FFFAFF;
  text-align: left
  font-size: 14px;
  background-color: #0A48C7;
}

img {
  border-radius: 30%;
  max-height: 40%;
  max-width: 40%;
}
