*{
  margin: 0px;
  padding: 0px;
}
body {
  font-family: 'OCR A Std', monospace;
  background-color: #FFFAFF; 
  color: #001F33;
  text-align: right;
}

header {
  font-family: 'Handjet', sans-serif;
  font-weight: 600;
  background-color: #FDE74C;
}

h1 {
  font-family: 'Handjet', sans-serif;
  font-weight: 600;
  color: #001F33;
  text-align: left;
  padding-top: 1em;
  padding-bottom: 1em;
}

p {
  color:#FFFAFF;
  text-align: left
  font-size: 14px;
  background-color: #0A48C7;
  padding: 5px;
}

main{
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 5%;
  margin-left: 5%
}

img {
  max-height: 40%;
  max-width: 40%;
  margin-bottom: 1em;
  margin-top: 1em;
  margin-right: 1em;
  margin-left: 1em;
}

#hi {
  color: #001F33;
  text-align: left;
  padding-top: 1em;
  padding-bottom: 1em;
}

#bio {
  color: #001F33;
  text-align: left;
}

#avatar {
  border-radius: 2%;
  max-height: 40%;
  max-width: 40%;
  border: 2px solid #0A48C7;
  margin-left: 2em;
  text-align: right;
}

.interests {
  max-height: 20%;
  max-width: 20%;
  border: 1px solid #0A48C7
}

.projtype{
  text-align: center;
}

.club{
  max-height = 30%;
  max-width = 30%
  text-align: left;
}

.clubdesc{
  text-align: right;
  margin-bottom: 2em;
}

.comp{
  max-height = 20%;
  max-width = 20%;
  text-align: left;
}

.compdesc{
  text-align: right;
  margin-bottom: 2em;
}

ul {
  list-style-type: none;
  background-color: #FDE74C;
  overflow: hidden;
  padding: 1em;
  text-align: center;
}

li {
  display: inline;
}

li a {
  text-decoration: none;
  color: #001F33;
  font-size: 1.3em;
  padding: 1em;
}

li a:hover {
  background-color: #0A48C7;
  color: #FFFAFF;
}